.idea/
/backend/vendor/
node_modules/
npm-debug.log
yarn-error.log

/backend/storage/*.key
/backend/.env
/backend/.env.backup
/backend/.env.production
/backend/.phpunit.result.cache

/backend/public/build
/backend/storage/pail
/backend/.phpactor.json
/backend/auth.json
/backend/database/database.sqlite

/frontend/dist/
